<a href="https://colab.research.google.com/github/DemoCharlieData/DemoCharlieData.github.io/blob/main/DemoNotebookForClass.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1>Example notebook for students</h1>

Some notes on arrays (or lists)

In [ ]:
myArray = [1,2,3,4,5]

In [ ]:
myArray[4]

You can load in packages such as numpy (mathematical tools such as matrices)

In [ ]:
import numpy as np

In [ ]:
myArray_two = np.arange(20)

In [ ]:
myArray_two

In [ ]:
myArray_two[6]

In [ ]:
myArray_three = ['Arsenal', 'Burnley', 'Chelsea']

In [ ]:
myArray_three[2]

You don't have to call these lists 'myArrayX' either

In [ ]:
FTSE_100 = ['VOD', 'BRBY', 'AZN']

In [ ]:
FTSE_100[0]

'VOD'

<h3>Build your own calculator.<h3>

Let's start with a simple multiplier

In [ ]:
def my_function(x,y):
  return x*y

In [ ]:
my_function(3,4)

How about a tool that calculates one value as a percentage of another (this is useful for Econ research...)

In [ ]:
def my_function_two(x,y):
  return (x/y)*100

In [ ]:
my_function_two(36,30)

120.0

Slightly harder, how about gradients? 

Let's set a and b as points on the y-axis, and c and d as ponts on the x-axis. 

Recall, we need (change in y)/(change in x)

In [ ]:
def my_function_three(a,b,c,d):
  return (b-a)/(d-c)

In [ ]:
my_function_three(34,40,3,7)

1.5

<h3>Upgrade the calculator.</h3>

Let's try a bit harder... how about a complex function?

First, let's write out some proof...

The equation for a factorial is as follows: n! = n x (n-1) x (n-2)...(2) x (1)
This can be expressed as: n! = n x (n-1)!


Set n = 1

1! = 1 x (1-1)!
1! = 1 x 0!

We know that 1! = 1 (since 1 x 1 = 1)

So:

1 = 0!

Keep this in mind...

In [ ]:
num = 5

factorial = 1
if num < 0:
  print("Not possible due to negative number")
elif num == 0:
  print("The factorial of zero is one")
else:
  for i in range(1, num + 1):
    factorial = factorial*i
  print("The factorial of",num,"is",factorial)

The factorial of 5 is 120